body {
    margin: 0 auto;
    padding: 0;
    height: 100%; /* 전체 높이 설정 */
    width: 100%;  /* 전체 너비 설정 */
    overflow: hidden; /* 스크롤 방지 */
}

main {
    position: relative;
    top: 2px;
}

.back {
    position: relative;
    z-index: 1;
    top: -880px;
    left: 13px;
}

.finish {
    position: relative;
    z-index: 1;
    top: -143px;
    left: 41px;
}

