@font-face {
    font-family: 'HakgyoansimNadeuriTTF-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimNadeuriTTF-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #75D1FB;
    margin: 0;
    padding: 0;
    overflow: hidden; /* 전체 스크롤 방지 (좌우 및 상하) */
}

.container {
    width: 430px;
    height: 932px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #75D1FB;
    display: flex;
    flex-direction: column;
}

.cloud1, .cloud2, .logo{
    position: relative;
}

.cloud1 {
    top: 150px;
    left: -21px;
}

.cloud2 {
    top: 30px;
    left: 270px;
}

.logo {
    top: 100px;
    left: 50px;
}

.sign_up, .login {
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 40px;
    margin: 100px;
    background-color: #E6F1F4;
}

.sign_up {
    top: 80px;
}

.login {
    top: -100px
}

.text1, .text2 {
    position: relative;
    font-family: 'HakgyoansimNadeuriTTF-B';
    font-size: 56px;
    color: white;
    top: -22px;
    left: 25px;
    -webkit-text-stroke: 2px black;
    z-index: 1;
    font-weight: lighter;
    text-decoration-line: none;
}

.text2 {
    left: 60px;
}
